<!DOCTYPE html>
<html>
    <head>
        <title>boostrap column</title>
        <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    </head>
    <body>
        <div class="container-fluid">
            <h1>row > col</h1>
            <div class="row">
                <div style="background-color: blue" class="col" >col1</div>
                <div  style="background-color: brown"class="col">col1</div>
                <div style="background-color: chartreuse" class="col">col1</div>
                
            </div>
            <h1>row > col-sm-3</h1>
            <div class="row">
                <div style="background-color: darkgreen" class="col-sm-3">col-sm-3</div>
                <div style="background-color: darkorange" class="col-sm-3">col-sm-3</div>
                <div style="background-color: greenyellow" class="col-sm-3">col-sm-3</div>
                <div class="col-sm-3">col-sm-3</div>
            </div>
            <h1>row > col-sm-4 && row  > col-sm-8</h1>
            <div class="row">
                <div style="background-color: hotpink" class="col-sm-4">col-sm-4</div>
                <div style="background-color: mediumblue" class="col-sm-8">col-sm-8</div>
            </div>
        </div>
    </body>
</html>