<!DOCTYPE html>
<html>
    <head>
        <title>boostrap column</title>
        <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    </head>
    <body>
        <div class="wrapper">
               <div class="jumbotron jumbotron-fluid">
                   <div class="container">
                       <h1 class="display-3">TTCSCN</h1>
                       <p class="lead">the heart breaking struth about metting the right person at the wrong time</p>
                       <hr class="my-2">
                       <p>More info</p>
                       <p class="lead">
                           <a class="btn btn-primary btn-lg" href="Jumbo action link" role="button">Jumbo action name</a>
                       </p>
                   </div>
               </div>
            
                <div class="container ">
                    <div class="row">
                        <div class="col-sm-4">
                            <h3>column 1 </h3>
                            <p>lorem ipsum dolor</p>
                        </div>
                        <div class="col-sm-4">
                            <h3>column 2</h3>
                            <p>lorem ipsum dolor</p>
                        </div>
                        <div class="col-sm-4">
                            <h3>column 3</h3>
                            <p>lorem ipsum dolor</p>
                        </div>
                    </div>
              
            </div>
            <div class="footer">footer</div>
        </div>
    </body>
</html>