<!DOCTYPE html>
<html>

<head>
    <title>layout 3</title>

</head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="challenHtml.css" />

<body>
    <div class="wrapper">
        <div class="header">
            header
        </div>
        <div class="nav-menu">
            <ul>
                <li><a href="">home</a></li>
                <li><a href="">about</a></li>
                <li><a href="">login</a></li>
            </ul>
        </div>
        <div class="contend">
            <div class="row">
                <div class="column">
                    <h2>hien phap</h2>
                    <p>
                        Theo điều 13 Hiến pháp nước Cộng hoà Xã hội chủ nghĩa Việt Nam:
                        Quốc huy nước Cộng hoà xã hội chủ nghĩa Việt Nam hình tròn, nền đỏ, ở giữa có ngôi sao vàng năm
                        cánh, chung quanh có bông lúa, ở dưới có nửa bánh xe răng và dòng chữ Cộng hoà xã hội chủ nghĩa
                        Việt Nam.
                    </p>
                </div>
                <div class="column">
                    <h2>hien phap</h2>
                    <p>
                        Theo điều 13 Hiến pháp nước Cộng hoà Xã hội chủ nghĩa Việt Nam:
                        Quốc huy nước Cộng hoà xã hội chủ nghĩa Việt Nam hình tròn, nền đỏ, ở giữa có ngôi sao vàng năm
                        cánh, chung quanh có bông lúa, ở dưới có nửa bánh xe răng và dòng chữ Cộng hoà xã hội chủ nghĩa
                        Việt Nam.
                    </p>
                </div>
                <div class="column">
                    <h2>hien phap</h2>
                    <p>
                        Theo điều 13 Hiến pháp nước Cộng hoà Xã hội chủ nghĩa Việt Nam:
                        Quốc huy nước Cộng hoà xã hội chủ nghĩa Việt Nam hình tròn, nền đỏ, ở giữa có ngôi sao vàng năm
                        cánh, chung quanh có bông lúa, ở dưới có nửa bánh xe răng và dòng chữ Cộng hoà xã hội chủ nghĩa
                        Việt Nam.
                    </p>
                </div>
                
            </div>
            <div class="row">
                <div class="column">
                    <h2>hien phap</h2>
                    <p>
                        Theo điều 13 Hiến pháp nước Cộng hoà Xã hội chủ nghĩa Việt Nam:
                        Quốc huy nước Cộng hoà xã hội chủ nghĩa Việt Nam hình tròn, nền đỏ, ở giữa có ngôi sao vàng năm
                        cánh, chung quanh có bông lúa, ở dưới có nửa bánh xe răng và dòng chữ Cộng hoà xã hội chủ nghĩa
                        Việt Nam.
                    </p>
                </div>
                <div class="column">
                    <h2>hien phap</h2>
                    <p>
                        Theo điều 13 Hiến pháp nước Cộng hoà Xã hội chủ nghĩa Việt Nam:
                        Quốc huy nước Cộng hoà xã hội chủ nghĩa Việt Nam hình tròn, nền đỏ, ở giữa có ngôi sao vàng năm
                        cánh, chung quanh có bông lúa, ở dưới có nửa bánh xe răng và dòng chữ Cộng hoà xã hội chủ nghĩa
                        Việt Nam.
                    </p>
                </div>
                <div class="column">
                    <h2>hien phap</h2>
                    <p>
                        Theo điều 13 Hiến pháp nước Cộng hoà Xã hội chủ nghĩa Việt Nam:
                        Quốc huy nước Cộng hoà xã hội chủ nghĩa Việt Nam hình tròn, nền đỏ, ở giữa có ngôi sao vàng năm
                        cánh, chung quanh có bông lúa, ở dưới có nửa bánh xe răng và dòng chữ Cộng hoà xã hội chủ nghĩa
                        Việt Nam.
                    </p>
                </div>
                
            </div>
            <div class="row">
                <div class="column">
                    <h2>hien phap</h2>
                    <p>
                        Theo điều 13 Hiến pháp nước Cộng hoà Xã hội chủ nghĩa Việt Nam:
                        Quốc huy nước Cộng hoà xã hội chủ nghĩa Việt Nam hình tròn, nền đỏ, ở giữa có ngôi sao vàng năm
                        cánh, chung quanh có bông lúa, ở dưới có nửa bánh xe răng và dòng chữ Cộng hoà xã hội chủ nghĩa
                        Việt Nam.
                    </p>
                </div>
                <div class="column">
                    <h2>hien phap</h2>
                    <p>
                        Theo điều 13 Hiến pháp nước Cộng hoà Xã hội chủ nghĩa Việt Nam:
                        Quốc huy nước Cộng hoà xã hội chủ nghĩa Việt Nam hình tròn, nền đỏ, ở giữa có ngôi sao vàng năm
                        cánh, chung quanh có bông lúa, ở dưới có nửa bánh xe răng và dòng chữ Cộng hoà xã hội chủ nghĩa
                        Việt Nam.
                    </p>
                </div>
                <div class="column">
                    <h2>hien phap</h2>
                    <p>
                        Theo điều 13 Hiến pháp nước Cộng hoà Xã hội chủ nghĩa Việt Nam:
                        Quốc huy nước Cộng hoà xã hội chủ nghĩa Việt Nam hình tròn, nền đỏ, ở giữa có ngôi sao vàng năm
                        cánh, chung quanh có bông lúa, ở dưới có nửa bánh xe răng và dòng chữ Cộng hoà xã hội chủ nghĩa
                        Việt Nam.
                    </p>
                </div>
            </div>
        </div>
        <div class="footer">
            footer
        </div>
    </div>
</body>

</html>