<!DOCTYPE html>
<html>
    <head>
        <title>layout 3</title>
        
    </head>
    <link rel="stylesheet" type="text/css" href="layout3.css"/>
    <body>
        <div class="wrapper">
            <div class="header">
                header
            </div>
            <div class="nav-menu">nav-menu</div>
            <div class="contend">
                <div class="contend-left">contend-left</div>
                <div class="main">main-contend</div>
                <div class="contend-right">contend-right</div>
            </div>
            <div class="footer">
                footer
            </div>
        </div>
    </body>
</html>