<!DOCTYPE html>
<html>
    <head>
        <title>layout 1</title>
    </head>
    <link rel="stylesheet" type="text/css" href="layout1.css"/>
    <body>
        <div class="wrapper">
            <div class="header">header</div>
            <div class="contend">conted</div>
            <div class="footer">footer</div>
        </div>
    </body>
</html>