<!DOCTYPE html>
<html>

<head>
    <title>web html</title>

</head>
<link rel="stylesheet" type="text/css" href="webhtml.css" />

<body>
    <div class="wrapper">
        <div class="header">
            <h1>TTCSCN</h1>
            <p>the heart breaking truth about metting the right person at the wrong time</p>
        </div>
        <div class="nav-menu">
            <ul>
                <li><a href="">home</a></li>
                <li><a href="">about</a></li>
                <li><a href="">login</a></li>
            </ul>
        </div>
        <div class="contend">
            <div class="row">
                <div class="left-column">
                    <div class="cart">
                        <h2>Viet nam vo dich </h2>
                        <div class="fakeimg" style="height:200px;"> ahihi</div>
                        <p>Some text..</p>
                            <p>Hỡi đồng bào cả nước,

                                "Tất cả mọi người đều sinh ra có quyền bình đẳng. Tạo hóa cho họ những quyền không ai có
                                thể xâm phạm được; trong những quyền ấy, có quyền được sống, quyền tự do và quyền mưu
                                cầu hạnh phúc".

                                Lời bất hủ ấy ở trong bản Tuyên ngôn độc lập năm 1776 của nước Mỹ. Suy rộng ra, câu ấy
                                có ý nghĩa là: tất cả các dân tộc trên thế giới đều sinh ra bình đẳng; dân tộc nào cũng
                                có quyền sống, quyền sung sướng và quyền tự do.

                                Bản Tuyên ngôn nhân quyền và dân quyền của Cách mạng Pháp năm 1791 cũng nói:

                                "Người ta sinh ra tự do và bình đẳng về quyền lợi, và phải luôn luôn được tự do và bình
                                đẳng về quyền lợi".

                                Đó là những lẽ phải không ai chối cãi được.

                                Thế mà hơn tám mươi năm nay, bọn thực dân Pháp lợi dụng lá cờ tự do, bình đẳng, bác ái,
                                đến cướp đất nước ta, áp bức đồng bào ta. Hành động của chúng trái hẳn với nhân đạo và
                                chính nghĩa.</p>
                       
                    </div>

                    <div class="cart">
                        <h2>Viet nam vo dich </h2>
                        <div class="fakeimg" style="height:200px;"> ahihi</div>
                        <p>Some text..</p>
                            <p>Hỡi đồng bào cả nước,

                                "Tất cả mọi người đều sinh ra có quyền bình đẳng. Tạo hóa cho họ những quyền không ai có
                                thể xâm phạm được; trong những quyền ấy, có quyền được sống, quyền tự do và quyền mưu
                                cầu hạnh phúc".

                                Lời bất hủ ấy ở trong bản Tuyên ngôn độc lập năm 1776 của nước Mỹ. Suy rộng ra, câu ấy
                                có ý nghĩa là: tất cả các dân tộc trên thế giới đều sinh ra bình đẳng; dân tộc nào cũng
                                có quyền sống, quyền sung sướng và quyền tự do.

                                Bản Tuyên ngôn nhân quyền và dân quyền của Cách mạng Pháp năm 1791 cũng nói:

                                "Người ta sinh ra tự do và bình đẳng về quyền lợi, và phải luôn luôn được tự do và bình
                                đẳng về quyền lợi".

                                Đó là những lẽ phải không ai chối cãi được.

                                Thế mà hơn tám mươi năm nay, bọn thực dân Pháp lợi dụng lá cờ tự do, bình đẳng, bác ái,
                                đến cướp đất nước ta, áp bức đồng bào ta. Hành động của chúng trái hẳn với nhân đạo và
                                chính nghĩa.</p>
                       
                    </div>
                </div>
                <div class="clear-fix"></div>
               <div class="right-cloumn">
                   <div class="cart">
                        <h1>About Me</h1>
                        <div class="fakeimg"  style="height:100px;">
                            img
                        </div>
                        <p>Some text..</p>
                   </div>
               </div>
                
            </div>
        </div>
        <div class="footer">
            footer
        </div>
    </div>
</body>

</html>