*{
    padding:0;
    margin: 0 auto;
}
.header{
    width: 1170px;
    padding-top:40px;
    padding-bottom: 40px;
    background-color: rgb(223, 219, 215);
    text-align: center;
}
.nav-menu {
    width: 1170px;
    padding-top:20px;
    padding-bottom: 20px;
    background-color: rgb(224, 185, 145);
    text-align: center;
    overflow: hidden;

}

.footer  {
    width: 1170px;
    padding-top:20px;
    padding-bottom: 20px;
    background-color: rgb(223, 219, 215);
    text-align: center;
}


.header h1 {
    font-size: 50px;
}
 
.nav-menu ul li {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding:14px 16px;
    
}
.contend  {
    width: 1170px;
    min-height: 840px;
   

}
.nav-menu a {
    text-decoration: none;
}

.nav-menu a:hover{
    background-color: burlywood;
    color: rgb(95, 24, 51);
}

.row::after{
    content: '' ;
    display:table;
    clear: both;
}
.left-column {
    float: left;
    width: 75%;
}

.cart {
    background-color: white;
  padding: 20px;
  margin-top: 20px;
}

@media screen and (max-width: 400px) {
    .topnav a {
      float: none;
      width: 100%;
    }
  }
  .fakeimg{
    background-color: #aaa;
  width: 100%;
  padding: 20px;

  }
  .right-cloumn{
    float: left;
  width: 25%;
  background-color: #f1f1f1;
  padding-left: 20px;
  }
  @media screen and (max-width: 800px) {
    .left-column , .right-cloumn {   
      width: 100%;
      padding: 0;
    }
  }
  .clear-fix{
      clear: left;
  }